@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
img {
  width: 15vw;
}
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
h1 {
  margin-block-start: 0.35em;
}
.page {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}

.page__details {
  width: 62vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page__heading {
  font-family: PT serif;
  font-size: 2.25rem;
  line-height: 48px;
  letter-spacing: -0.045em;
}

.page__info {
  width: 45%;
}
.info__heading {
  font-family: poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 27px;
}
.info__desc {
  font-family: poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 0.5rem;
}
.member__name {
  font-family: poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 27px;
  margin-top: 0.5rem;
}
.member__position {
  font-family: PT Serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  height: fit-content;
  writing-mode: vertical-lr;
  margin-left: 0.5em;
}

.page__team {
  margin-top: 5em;

  width: 62vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.member-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.member {
  flex-basis: 33.33%;
}
.member-info-two,
.member-info-five {
  margin-top: 35%;
}
.member-info-two,
.member-info-five {
  margin-left: 10%;
}
.member-two .member__name,
.member-five .member__name {
  margin-left: 10%;
}
.member-three .member__name,
.member-six .member__name {
  margin-left: 20%;
}
.member-info-three,
.member-info-six {
  margin-left: 20%;
}

.page__footer {
  height: 40px;
  margin-top: 10rem;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
}
.page__footer a {
  color: #a9a9a9;
}

@media (max-width: 700px) {
  .page {
    width: 100vw;
  }
  .page__details {
    width: 91vw;
  }
  .page__info {
    width: 100%;
  }
  .info__heading {
    font-size: 18px;
    line-height: 27px;
  }
  .info__desc {
    font-size: 13px;
    line-height: 21px;
  }
  .page__heading {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
  }
  .page__team {
    width: 94vw;
    margin-bottom: 0;
    justify-content: space-around;
    align-content: flex-start;
  }
  .member {
    flex-basis: 47%;
  }
  img {
    width: 40vw;
  }

  .member-three .member__name,
  .six .member__name {
    margin-left: 0;
  }
  .member-info-three,
  .member-info-six {
    margin-left: 0%;
  }
  .member-info-five {
    margin-left: 0;
    margin-top: 0;
  }
  .member-info-two,
  .member-info-four,
  .member-info-six {
    margin-top: 50%;
  }
  .member-info-two,
  .member-info-four,
  .member-info-six {
    margin-left: 5%;
  }
  .member-two .member__name,
  .member-four .member__name,
  .member-six .member__name {
    margin-left: 10%;
  }
}
